@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#header {
    display: flex;
    align-items: center;
    min-width: max(20vw, 300px);
    min-height: 50px;
    margin-bottom: 50px;
}

#start {
    margin-left: 20px;
}

#container {
    min-width: max(20vw, 300px);
    min-height: max(20vw, 300px);
    background-color: gainsboro;
    padding-top: 5vw;
    padding-bottom: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    border: solid 2px black;
}

.row {
    display: flex;
    height: max(calc(20vw / 3), 100px); 
}

.square {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    min-width: max(calc(20vw / 3), 100px);
    min-height: max(calc(20vw / 3), 100px);
}

#one {
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

#two {
    border-bottom: solid 2px black;
}

#three {
    border-left: solid 2px black;
    border-bottom: solid 2px black;
}

#four {
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

#five {
    border-bottom: solid 2px black;
    border-right: solid 2px black;
}

#six {
    border-bottom: solid 2px black;
}

#eight {
    border-right: solid 2px black;
    border-left: solid 2px black;
}